.label {
    font-size: 8pt;
}

.bold {
    font-weight: bold;
}

.text-white {
    fill: white;
}

.text-disabled {
    fill: #989898;
    font-size: 8pt;	
}

.graph-component {
    overflow: visible;
    font-size: 12px;
}

.graph-canvas {
    overflow: visible;
}

.connection {
    stroke-width: 1px;
    stroke-opacity: 0.8;
    stroke: #006990;
    fill: none;
}

.connection-dashed {
    stroke-width: 1px;
    stroke-opacity: 0.8;
    stroke: #006990;
    stroke-dasharray: 10, 6;
    fill: none;
}

.connection-straight {
    stroke-width: 1;
    stroke-opacity: 0.5;
    stroke: black;
    fill: none;
}

.connecting-path {
    stroke-width: 1px;
    stroke-opacity: 0.5;
    stroke: #006990;
    fill: none;
}

.flow-node-background {
    stroke-width: 1;
    stroke: #B0B0B0;
    fill: #E9E9E9;
}

.flow-system-node-background {
    stroke-width: 1;
    stroke: #B0B0B0;
    fill: url(#systemNodeBgPattern);
}

.flow-node-title {
    fill: #F7F7F7;
}

.flow-node-title-cover {
    fill:  #F7F7F7;
}

.flow-node-title-text {
    fill: #3D3D3D;
}

.flow-node-array-item-background {
    stroke-width: 1;
    fill: #CFCFCF;
    stroke: #C8C8C8;
}

.flow-node-array-item-title {
    fill: #CFCFCF;
}

.flow-task-background {
    fill: url(#flowTaskBGGradient);
    stroke: #CCCCCC;
}

.flow-task-title-text {
    fill: #363636;	
}

.flow-task-content {
    fill: #89CBDF;
}

.flow-node-task-background {
    fill: url(#horizontalSilverGradient);
    stroke: #B0B0B0;
}

.flow-node-task-content {
    fill: url(#flowNodeTaskContentGradient);
    stroke: #B0B0B0;
}

.flow-node-task-content-corner-cover {
    fill: url(#flowNodeTaskContentCornerGradient);
}

.blueprint-node-background {
    fill: url(#blueprintComponentSilverGradient);
    stroke: #b0b0b0;
}

.blueprint-node-name {
    font-size: 13px;
    fill: #006990;
    font-weight: bold;
}

.blueprint-service-background {
    fill: white;
    stroke: #b0b0b0;
}

.blueprint-external-service-background {
    fill: url(#externalServiceBgPattern);
    stroke: #b0b0b0;
}

.blueprint-service-name {
    fill: #3d3d3d;
}

.blueprint-application-component-background {
    fill: #5FAFC7;
    stroke: #3E92AA;
}

.blueprint-application-component-name {
    fill: white;
    font-weight: bold;
}

.drop-zone-component {
    opacity: 0.4;
}

.selected-component {
	filter: url(#selectionGlowFilter);
}

.impacted-component {
    stroke: #C552C5;
    stroke-width: 2px;
    stroke-opacity: 1;
}

.changed-component {
    stroke: #00698F;
    stroke-width: 2px;
    stroke-opacity: 1;
}

.highlighted-connection {
    stroke-width: 3px;
    stroke-opacity: 0.6;
}

.selected-connection {
    stroke-width: 3px;
    stroke-opacity: 1;
}

.flow-phase-background {
    fill: #F9F9F9;
    stroke: #B0B0B0;
}

.flow-phase {
    fill: #FFFFFF;
    stroke: #B0B0B0;
}

.overlay {
    overflow: visible;
}

.flow-anchor-default {
    fill: url(#verticalSilverGradient);
    stroke: #929292;
    stroke-width: 2px;
    stroke-opacity: 1;
    pointer-events: all;
    filter: url(#focusGlowFilter);
}
