{{!
  author: samueldoyle
  model: model/indexBody
}}
<div id="center" class="center"></div>
<div id="mainbody">
    <div class="chrome-header" style="height: 44px;">
        <div class="main-toolbar"></div>
    </div>
    <div class="title-page">
        <div class="title-container">
            <div class="title-container-body">
                <div class="title-content-container" id="importHeader">
                    {{importHeader}}
                </div>
            </div>
        </div>
        <div class="control-bar">
            <!--
            <a href="">About</a>
            <a href="">Home</a>
             -->
            {{#if contactEnabled}}
                <a href="">{{contactText}}</a>
            {{/if}}
        </div>
        <div class="x-clear"></div>

        <div id="contentWrapper" class="container-fluid">
            <div id="importFormWrapper">
                <!-- Main app fills in with importForm template -->
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div id="progressGroup" class="control-group hidden">
                        <div class="badge" id="progressBadge"
                             style="padding: 3px; float: left; width: 25px; text-align: center;">
                            50%
                        </div>

                        <div id="progressWrapper" class="progress progress-striped">
                            <div class="bar" style="width: 50%;" id="progressBar">Importing...</div>
                        </div>
                    </div>

                    <div id="responseDataControl" class="hidden">
                        <div id="responseData" class="responseData"></div>
                        <div id="errordiv" class="filler">
                            <textarea name="description"
                                      id="error-readme-content"
                                      disabled=""
                                      class="error-readme-content">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>