{{!
    author: samueldoyle
}}
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {{> template_commonHeaderContent}}
</head>
<body>-->
<div id="importLink">    
    <section>
        <header>
            <h3>{{artifactType}} Imported Successfully!</h3>
        </header>
    </section>
    <section>
    <h4>Your Import Link</h4>
    <a href="{{importLink}}" onclick="return false;">{{importLink}}</a>
</section>
</div>
<hr/>
<div id="nsWrapper">
    {{#if nextStepsContent}}
    <section>
        {{{nextStepsContent}}}
    </section>
    {{/if}}
</div>
<footer>
    {{> template_copyRight}}
</footer>
{{> template_commonFooterContent}}
<script type="text/javascript">
    (function () {
        console.log("Loaded");
    }());
</script>
<!--
</body>
</html>-->
