{{!
    author: samueldoyle
    Bootstrap modal markup
}}
<!--<div class="modal hide fade in" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"-->
<div class="modal hide" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="text-error" style="font-size: 25px">{{{headerText}}}</h3>
    </div>
    <div class="modal-body">
        {{{bodyText}}}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>