{{!
    author: samueldoyle
    If the browser window was blocked
}}
<div id="browserWindowBlockedBody">
    <p style="font-size: 13px;font-weight: bold" class="text-success">
        There was a problem opening a window with the successfully imported blueprint.
        This is more than likely a result of your browser's popup blocker. If this is the case
        you can set the browser to allow popups from this site in the future.
        <br/><br/>
        Here is the link to your imported blueprint
    </p>
    <hr/>
    <a onclick="return false;" href="{{url}}">{{urlText}}</a>
</div>
