{{!
    author: samueldoyle
    This is the body of the unsupported browser modal
}}
<div id="unsupported-browser-body">
    <p style="font-size: 15px; font-weight: bold" class="text-info">
        {{info}}
    </p>
    <br>
    <table border="0">
        <tr>
            {{#each supportedBrowsers}}
            <td>
                <a href="{{link}}"><img src="{{img}}" class="scale" data-scale="best-fit" data-align="center"></a><br>
                <p style="text-align:center;">version {{version}} or higher</p>
            </td>
            <td style="width:30px;"></td>
            {{/each}}
        </tr>
    </table>
    <br/>
</div>